main{
	display:grid;
	width:800px;
	height:600px;
	grid-template-rows:100px auto;
}
#factdisplay{
	border:3px solid black;
	font-size:25px;
	font-weight:bold;
	padding:15px;
}

form{
	height:60px;
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
	grid-gap:10px;
	
}

body{
	display:flex;
	justify-content:center;
}

input{
	background-color:#00ff70;
	color:#ff008f;
}

input:hover{
	color:#00ff70;
	background-color:#ff008f;
}

img{
	padding-left:300px;
}